/* Font family Mulish from google front */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

.section-title {
    color: #131318;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
    margin: 20px 0px;
    text-align: center;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.contry-name {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
}

/* Nav rileated style */
header {
    margin-left: 130px;
    margin-right: 130px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-title-container {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 50%;
}

.nav-title-container p {
    color: #131318;
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
}

.spasial-color {
    color: #FF5400;
}

.nav-title-container img {
    width: 45px;
}

.nav-item {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.nav-item a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.banner-container {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');

}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    padding: 100px 150px 20px 150px;
    text-align: center;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 0 150px;
}

.banner-form {
    padding: 16px 100px 70px 100px
}

.banner-form-container {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.form-item {
    border-radius: 8px;
    border: none;
    width: 170px;
    padding: 15px;
    color: rgba(19, 19, 24, 0.50);
    background: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    width: 170px;
    background: #FF5400;
    color: #FFFFFF;
    padding: 15px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700
}

/* Main part style */
main {
    margin-left: 130px;
    margin-right: 130px;
}

/* popular tour section style */
.popular-tour-container {
    display: flex;
    gap: 40px;
    margin: 80px 0px;

}

.popular-tour-contant {
    width: 50%;
}

.popular-tour-contant p,
li {
    margin: 15px 0px;

}

.popular-tour-img img {
    width: 100%;

}

/* Destination part style */
.destination-contant p {
    text-align: center;
    padding: 0px 80px;
}

.contry-info-container {
    /* display: flex; */
}

.contry-info-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.contry-1 {
    background-image: url(../Images/Rectangle\ 5.png);
    width: 500px;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    border-radius: 16px;
    /* background-size: 120%; */
}

.contry-2 {
    background-image: url(../Images/Rectangle\ 8.png);
    /* background-size: 100%; */
    border-radius: 16px;
    width: 500px;
    height: 200px;
    text-align: center;
    padding-top: 100px;
}

.contry-info-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.contry-3 {
    background-image: url(../Images/Rectangle\ 6.png);
    width: 300px;
    height: 180px;
    border-radius: 16px;
    text-align: center;
    padding-top: 100px;
}

.contry-4 {
    background-image: url(../Images/Rectangle\ 7.png);
    width: 400px;
    height: 180px;
    border-radius: 16px;
    text-align: center;
    padding-top: 100px;
}

.contry-5 {
    background-image: url(../Images/Rectangle\ 9.png);
    width: 280px;
    height: 180px;
    border-radius: 16px;
    text-align: center;
    padding-top: 100px;
}

/* contry info 3rd .... */
.contry-info-3 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.contry-6 {
    background-image: url(../Images/Rectangle\ 11.png);
    width: 400px;
    height: 200px;
    border-radius: 16px;
    text-align: center;
    padding-top: 100px;
}

.contry-7 {
    background-image: url(../Images/Rectangle\ 10.png);
    width: 600px;
    height: 200px;
    border-radius: 16px;
    text-align: center;
    padding-top: 100px;
}

/* wht chose us style */
.card-container {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
}

#chose-us-des {
    padding: 0 200px;
    text-align: center;

}

.card-items {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.card-item {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    width: 500px;
    background: rgba(41, 206, 246, 0.05);
    border-radius: 16px;

}

.card-title {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
}

.card-description {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/* Responsibe style */
/* For Mobile device */
@media screen and (max-width:560px) {
    header {
        max-width: 100%;
        margin: 0 auto;
    }

    .banner-container {
        background-size: 100% 100%;
    }

    .nav-container,
    .nav-title-container,
    .nav-item,
    .banner-form-container,
    .popular-tour-container,
    .contry-info-1,
    .contry-info-2,
    .contry-info-3,
    .card-items,
    .card-item {
        flex-direction: column;
    }

    .section-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
    }

    .destination-contant p {
        padding: 0px 15px;
    }

    .banner-title {
        font-size: 1.3rem;
        padding: 25px 10px 0px 25px;
    }

    .banner-description {
        padding: 0 10px;
    }

    .banner-form-container {
        gap: 15px;
    }

    .banner-form {
        padding: 0px;
        margin: 20px 25px;
    }

    main {
        max-width: 100%;
        margin: 0 auto;
    }

    .contry-info-1 div {
        max-width: 100%;
        margin: 0 auto;
    }

    .contry-info-2 div {
        max-width: 100%;
        margin: 0 auto;
    }

    .contry-info-3 div {
        max-width: 100%;
        margin: 0 auto;
    }

    #chose-us-des {
        padding: 0px 10px;
    }

    /* popular tour part responsive */
    .popular-tour-contant {
        width: 100%;
    }

    .popular-tour-img img {
        width: 100%;
    }

}

/* for mediam device */
@media screen and (min-width: 560px) and (max-width: 992px) {
    header {
        max-width: 100%;
        margin: 0 auto;
    }

    .banner-container {
        background-size: 100% 100%;
    }

    .nav-container,
    .nav-title-container,
    .banner-form-container,
    .popular-tour-container {
        flex-direction: column;
    }

    main {
        max-width: 80%;
        margin: 0 auto;
    }

    .popular-tour-contant {
        width: 100%;
    }
}